
//   .__dumi-default-previewer-demo .code-box-demo .bsd-row>div:not(.gutter-row):nth-child(2n+1), [id^=zh-CN-demo] .code-box-demo .bsd-row>div:not(.gutter-row):nth-child(2n+1){
//     background: rgba(0,146,255,.75);
//   }

//   .__dumi-default-previewer-demo .code-box-demo .bsd-row>div:not(.gutter-row) .code-box-demo .bsd-row>div:not(.gutter-row){
//     padding: 16px 0;
//     background: #0092ff;
//   }

//   .__dumi-default-previewer-demo  .code-box-demo .bsd-row>div, .code-box-demo .bsd-row>div.code-box-demo .bsd-row>div{
//     min-height: 30px;
//     margin-top: 8px;
//     margin-bottom: 8px;
//     color: #fff;
//     text-align: center;
//     border-radius: 0;
//   }

  .__dumi-default-previewer-demo  .demo1 .bsd-row{
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    text-align: center;
    border-radius: 0;
  }

  .__dumi-default-previewer-demo  .demo1 .bsd-row>.bsd-col:nth-child(2n+1){
    background: rgba(0,146,255,.75);
    padding: 16px 0;
  }

  .__dumi-default-previewer-demo  .demo1 .bsd-row>.bsd-col:nth-child(2n){
    background: #0092ff;
    padding: 16px 0;
  }
  .__dumi-default-previewer-demo .demo1 .gutter-box {
    padding: 8px 0;
    // background: #00a0e9;
  }

  .__dumi-default-previewer-demo .demo1 [class~='bsd-row'] {
    background: rgba(128, 128, 128, 0.08);
  }

  .__dumi-default-previewer-demo .height-50{
    height: 50px;
    line-height: 50px;
  }
  .__dumi-default-previewer-demo .height-80{
    height: 80px;
    line-height: 80px;
  }
  .__dumi-default-previewer-demo .height-100{
      height: 100px;
      line-height: 100px;
  }
  .__dumi-default-previewer-demo .height-120{
    height: 120px;
    line-height: 120px;
}